<p>
    <p >
        <table class="color-yellow">
            <tr>
                <td class="pre-check">PRE-CHECK 1 </td>
                <td>
                    <span class="pass">&check;</span>
                    <span class="fail">&times;</span>
                </td>
            </tr>
        </table>
        
        
    </p>

    <p>Measure the +5 VDC signal on pin 24 of IC U5.</p>
    <input type="radio" id="true" name="precheck" value="true">
    <label for="true">+5 VDC</label><br>
    <input type="radio" id="false" name="precheck" value="false">
    <label for="false">0 VDC</label><br>

    <div class="button-container">
        <button id="continue" class="button" type="button">CONTINUE</button>
    </div>
</p>