<div class="about-content">
    <div class="about-imag">
        <img style="max-width: 100%; height: auto;" src="img/me.jpg">
    </div>
    <div class="about-data">
        Hello, I'm Ariel, a retro computer enthusiast and software engineer from Costa Rica. I hope you find this tool useful!
        <br><br>
        <a class="link-style" href="https://www.arielorozco.com" target="_blank">www.arielorozco.com</a>
        <br><br>
        <a class="link-style" href="https://www.buymeacoffee.com/arielcr" target="_blank">Buy me a coffee!</a>
    </div>
</div>