<p>
    <div class="test-info">
        <div class="header-container">
            <div class="color-green category center">{{type}}</div> 
            <div class="color-turquoise type center">{{category}}</div> 
        </div>
        <div class="color-gray">{{description}}</div>
    </div>
    
    <p class="question diagnostic-message neutral-diag  center">{{diagnostic}}</p>

    <div class="button-container center">
        <button id="restart" class="button" type="button">Restart</button> <span class="error">Please select an option.</span>
    </div>
</p>

