<p class="color-turquoise">The C64 Diagnostic Tool, driven by the C64 Diagnostic Instruction Manual, guides you through a
    detailed examination of your C64 main Integrated Circuits (ICs), simplifying the process of checking voltages and
    frequencies to reach a final diagnostic. </p>

<p class="color-gray">As of now, the tool is optimized for the longboard version of the C64, specifically for assy
    326070. However, it may also be applicable to other board versions. </p>

<p class="color-gray">All reading are taken with an oscilloscope and measure are between +/- 10% tolerance. For most of
    the cases it is possible to also use a Multimeter.</p>

<p class="color-white no-margin-bottom">You can start right away by clicking the start button below or go directly to
    any of the following sections:</p>

<div class="content-categories">
    <div class="categories-left">
        <ul class="categories">
            <li data-category="precheck">precheck</li>
            <li data-category="system_power_supply">system power supply</li>
            <li data-category="system_reset">system reset</li>
            <li data-category="system_clocks">system clocks</li>
        </ul>
    </div>
    <div class="categories-right">
        <ul class="categories">
            <li data-category="system_video">system video</li>
            <li data-category="system_ram">system ram</li>
            <li data-category="system_rom_io">system rom_io</li>
            <li data-category="continue" class="color-green">Pick up where you left off</li>
        </ul>
    </div>
</div>



<div class="button-container center">
    <button id="start" class="button" type="button">START</button>
</div>