<div class="about-content">
    <div class="image-container">
        <div class="image-box">
            <span class="color-yellow">CPU</span> 
            <a href="img/cpu.png" target="_blank">
                <img src="img/cpu.png" alt="CPU">
            </a>
        </div>
        <div class="image-box">
            <span class="color-yellow">VIC-II</span> 
            <a href="img/vicii1.png" target="_blank">
                <img src="img/vicii1.png" alt="VIC-II">
            </a>
        </div>
        <div class="image-box">
            <span class="color-yellow">VIC-II</span> 
            <a href="img/vicii2.png" target="_blank">
                <img src="img/vicii2.png" alt="VIC-II">
            </a>
        </div>
        <div class="image-box">
            <span class="color-yellow">SID</span> 
            <a href="img/sid.png" target="_blank">
                <img src="img/sid.png" alt="SID">
            </a>
        </div>
        <div class="image-box">
            <span class="color-yellow">SID</span> 
            <a href="img/sid2.png" target="_blank">
                <img src="img/sid2.png" alt="SID">
            </a>
        </div>
        <div class="image-box">
            <span class="color-yellow">PLA</span> 
            <a href="img/pla.jpg" target="_blank">
                <img src="img/pla.jpg" alt="PLA">
            </a>
        </div>
        <div class="image-box">
            <span class="color-yellow">CIA</span> 
            <a href="img/cia.png" target="_blank">
                <img src="img/cia.png" alt="CIA">
            </a>
        </div>
        <div class="image-box">
            <span class="color-yellow">ROM</span> 
            <a href="img/rom.png" target="_blank">
                <img src="img/rom.png" alt="ROM">
            </a>
        </div>

    </div>

    <ul>
        <li>
            - <a class="link-style"
                href="resources/C64_Diagnostic_Instruction_and_Troubleshooting_Manual_(326070-01).pdf"
                target="_blank">C64 Diagnostic Instruction and Troubleshooting Manual</a>
            <br> - <a class="link-style"
                href="http://www.zimmers.net/anonftp/pub/cbm/schematics/computers/c64/index.html" target="_blank">C64
                Schematics</a>
            <br> - <a class="link-style" href="http://monkeyspeak.com/c64_hardware_details/" target="_blank">Commodore
                64 Hardware Details (monkeyspeak.com)</a>
            <br> - <a class="link-style" href="https://www.pictorial64.com/" target="_blank">The Pictorial C64 Fault
                Guide</a>
            <br> - <a class="link-style" href="http://tech.guitarsite.de/c64_scope.html" target="_blank">Scope on the
                C64 (Sven's Tech Site)</a>
            <br> - <a class="link-style"
                href="https://youtube.com/playlist?list=PLaQ3xGE5U_Iu6MGvtrKqMYIu_AuKJt5Uk&si=cRrdRrcAul-bse9L"
                target="_blank">Commodore 64 Troubleshooting Youtube Playlist</a>

        </li>
    </ul>
</div>