<div class="about-content">
    <ul>
        <li>
            - <a class="link-style" href="resources/C64_Diagnostic_Instruction_and_Troubleshooting_Manual_(326070-01).pdf" target="_blank">C64 Diagnostic Instruction and Troubleshooting Manual</a>
        <br>    - <a class="link-style" href="http://www.zimmers.net/anonftp/pub/cbm/schematics/computers/c64/index.html" target="_blank">C64 Schematics</a>
        <br>    - <a class="link-style" href="http://monkeyspeak.com/c64_hardware_details/" target="_blank">Commodore 64 Hardware Details (monkeyspeak.com)</a>
        <br>    - <a class="link-style" href="https://www.pictorial64.com/" target="_blank">The Pictorial C64 Fault Guide</a>
        <br>    - <a class="link-style" href="http://tech.guitarsite.de/c64_scope.html" target="_blank">Scope on the C64 (Sven's Tech Site)</a>
        <br>    - <a class="link-style" href="https://youtube.com/playlist?list=PLaQ3xGE5U_Iu6MGvtrKqMYIu_AuKJt5Uk&si=cRrdRrcAul-bse9L" target="_blank">Commodore 64 Troubleshooting Youtube Playlist</a>
  
        </li>
    </ul>
</div>