<p>
    <p class="test-info">
        <span class="color-turquoise">{{category}} | {{type}}</span> <br>
        {{description}}
    </p>
    <p class="question color-yellow">{{step}}. {{test}}</p>

    <input type="radio" id="yes" name="answer" value="yes">
    <label for="yes" class="color-yellow">Yes</label><br>
    <input type="radio" id="no" name="answer" value="no">
    <label for="no" class="color-yellow">No</label><br>

    <div class="button-container">
        <button id="continue" class="button" type="button">CONTINUE</button> <span class="error">Please select an option.</span>
    </div>
</p>

