<p>
    <div class="test-info">
        <div class="header-container">
            <div class="color-green category">{{type}}</div> 
            <div class="color-turquoise type">{{category}}</div> 
            <div class="video-option">
                <label for="ntsc" class="form-control-2">
                    <input type="radio" id="ntsc" name="video" value="ntsc" class="radio-button" checked>
                    <span class="color-yellow">NTSC</span>
                </label>
                <label for="pal" class="form-control-2">
                    <input type="radio" id="[al]" name="video" value="pal" class="radio-button">
                    <span class="color-yellow">PAL</span>
                </label>
            </div>
        </div>
        <div class="color-gray">{{description}}</div>
    </div>

    <p class="question color-yellow">{{step}}. {{test}}</p>

    <label for="yes" class="form-control">
        <input type="radio" id="yes" name="answer" value="yes" class="radio-button">
        <span class="color-yellow">Yes</span>
    </label>
    <label for="no" class="form-control">
        <input type="radio" id="no" name="answer" value="no" class="radio-button">
        <span class="color-yellow">No</span>
    </label>

    <div class="buttons-container">
        <div class="left-buttons">
            <button id="continue" class="button" type="button">CONTINUE</button> 
            <button id="back" class="back-button" type="button">BACK</button> 
        </div>
        <div class="right-buttons right-align">
            <button id="reset" class="reset-button" type="button">RESET</button> 
        </div>
        <div class="error-container">
            <span class="error">Please select an option.</span>
        </div>
    </div>
    
</p>

